* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  color: #686868;
  font-weight: 300;
  line-height: 1.5;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.padding-y-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

#aboutMeSection {
  background-image: url(images/shapes/bg-frame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.orange-text {
  color: orange;
}

.orange-btn {
  background: linear-gradient(to right, orange, tomato);
  display: inline-block;
  padding: 20px 40px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.flex-box {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.vertically-middle {
  align-items: center;
}

.horizontally-center {
  justify-content: center;
}

.width-80 {
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
}

.width-50 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.width-33 {
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
}

.width-20 {
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 10px 0 #00000010;
}

header .logo-text {
  font-size: 30px;
  font-weight: 700;
}

.nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  display: inline-block;
  text-decoration: none;
  color: orange;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.featured-box {
  padding: 15px;
  box-shadow: 0 0 15px 0 #00000020;
  border-radius: 25px;
  height: 100%;
}

.featured-box .img-box {
  margin-bottom: 15px;
}

.featured-box .img-box,
.featured-box .img-box img {
  border-radius: 20px;
}

#myFavFoods p.text-center {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#followersSection .width-20 {
  padding: 40px;
}

#contactMe {
  background-image: url(images/food/vegetables.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contactMeForm {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 15px 0 #00000020;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#contactMeForm .input-group label,
#contactMeForm .input-group input {
  display: block;
  width: 100%;
}

#contactMeForm .input-group label {
  margin-bottom: 5px;
  color: #000;
}

#contactMeForm .input-group input {
  border: 1px solid #e3e3e3;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 25px;
}

#contactMeForm .input-group input.orange-btn {
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
}

footer p {
  color: #c1c1c1;
  margin-bottom: 0;
  font-size: 12px;
}
